* {
    box-sizing: border-box;
  }
  
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);

}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-Medium.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

/*-- reviewTop_MenuArea start --*/

.reviewTop_MenuArea {
    background: #ECD8B8;
    width: 100%;
    overflow: hidden;
}

/*-- NavBar start --*/

.reviewTop_MenuArea .navbar {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 0;
}
.reviewTop_MenuArea .navbar img {
    width: 100px;
    object-fit: cover;
}
.reviewTop_MenuArea .navbar .navBar_menuItems .navbar-nav li a:hover {
    color: #c82626;
}
.reviewTop_MenuArea .navbar .navBar_menuItems .navbar-nav li a {
    font-size: 11px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    color: black;
}
.navBar_menuItems .navbar-nav .nav-item .menu_Style::after {
    content: '+';
    margin: 4px;
}
.reviewTop_MenuArea .navbar .navBar_menuItems .topMenu_Button {
    background: #ad0606ed;
    color: #edf4ff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 25px;
}
.reviewTop_MenuArea .navbar .navBar_menuItems .topMenu_Button i {
    font-size: 11px;
    padding-right: 5px;
}
.reviewTop_MenuArea .navbar .navBar_menuItems {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/*-- NavBar end --*/

/*-- bodyContentAndImage start --*/

.reviewTop_MenuArea .topMenu_bodyContent .secondText h1 {
    margin: 0;
    font-size: 51px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: black;
}
.reviewTop_MenuArea .topMenu_bodyContent .firstText p {
    margin: 0;
    font-size: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    line-height: 15px;
    padding: 3px 10px;
    background: #04734d;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .3px;
}
.reviewTop_MenuArea .topMenu_bodyImagebox img {
    width: 90%;
    object-fit: cover;
}
.reviewTop_MenuArea .topMenu_bodyImagebox {
    width: 100%;
    height: auto;
    padding: 60px 0;
}
.reviewTop_MenuArea .topMenu_bodyContent .secondText u {
    color: #F2A22A;
}
.reviewTop_MenuArea .topMenu_bodyContent .thirdText p {
    margin: 0;
    font-size: 11px;
    color: #545050;
    font-family: 'Roboto', sans-serif;
    line-height: 19px;
}
.reviewTop_MenuArea .topMenu_bodyContent .thirdText {
    margin-top: 15px;
}
.reviewTop_MenuArea .topMenu_bodyContent .thirdText .details_Button {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: #F2A22A;
    padding: 7px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 25px;
    font-weight: 700;
    color: black;
}
.reviewTop_MenuArea .topMenu_bodyContent .thirdText .details_Button i {
    padding-left: 5px;
}

/*-- bodyContentAndImage end --*/

/*-- reviewTop_MenuArea end --*/


/*-- foodsMenuAnd_itemsSection start --*/

.foodsMenuAnd_itemsSection {
    background: #f0e3d09e;
    padding: 70px 0;
}

/*-- polular_foodItems start --*/

.foodsMenuAnd_itemsSection .polular_foodItems {
    padding-bottom: 70px;
}
.foodsMenuAnd_itemsSection .polularFood_itemsHeader h1 {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    text-shadow: 0 0.2px black;
    margin: 0;
    font-weight: 700;
    font-size: 35px;
}
.foodsMenuAnd_itemsSection .foodsItems_imageAndName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.foodsItems_cardWrp .text p {
    margin: 0;
    font-size: 9px;
    font-family: 'Roboto';
    background: #b70000;
    color: white;
    padding: 2px 18px;
    letter-spacing: 0.5px;
}
.foodsItems_cardWrp .text {
    position: absolute;
    top: 20px;
    left: 0;
}
.foodsItems_imageAndName .foodsItems_cardWrp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 25px 0;
    border-radius: 8px;
    margin: 10px;
    position: relative;
}
.foodsItems_cardWrp .foodsImageBox {
    height: 120px;
    width: 120px;
}
.foodsItems_cardWrp .foodsImageBox img {
    height: 100%;    
    object-fit: scale-down;
    width: 100%;
}
.foodsItems_cardWrp .foodItemName p {
    margin: 0;
    font-size: 17px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: 50px;
}
.foodsItems_cardWrp .foodItemName .seeMenubtn {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #c02626;
    border: 1.3px solid #c02626;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 12px;
    font-weight: 700;
    text-decoration: none;
}
.foodsItems_cardWrp .foodItemName {
    text-align: center;
}
.foodsItems_imageAndName .slick-next {
    right: 50%;
    top: 100%;
    transform: translateX(50%);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ababab;
    border-radius: 50%;
    margin: 5px -22px;
}
.foodsItems_imageAndName .slick-next:before {
    content: '→';
    font-family: monospace;
    color: black;
}
.foodsItems_imageAndName .slick-prev {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ababab;
    border-radius: 50%;
    margin: 5px -22px;
}
.foodsItems_imageAndName .slick-prev:before {
    content: '←';
    font-family: monospace;
    color: black;
}
.foodsItems_imageAndName .slick-prev:focus, .foodsItems_imageAndName .slick-next:focus {
    color: white;
    background: #c30000;
    border: none;
}
.foodsItems_imageAndName .slick-prev:focus::before, .foodsItems_imageAndName .slick-next:focus::before {
    color: white;
    background: #c30000;
    border: none;
}
.foodsItems_imageAndName .slick-next:after {
    position: absolute;
    content: '';
    width: 250px;
    height: 0.1px;
    background: #9f9f9f8f;
    left: 45px;
}
.foodsItems_imageAndName .slick-prev:after {
    position: absolute;
    content: '';
    width: 250px;
    height: 0.1px;
    background: #9f9f9f8f;
    left: -268px
}

/*-- polular_foodItems end --*/

/*-- delicious_foodsMenuArea start --*/

.delicious_foodsMenuArea .delicious_foodsMenuHeader h2 {
    margin: 0 0 25px 0;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: black;
}

/*-- deliciousFoods_menuTab start --*/

.delicious_foodsMenuArea .deliciousFoods_menuTab {
    display: flex;
    justify-content: center;
}
.deliciousFoods_menuTab .nav-tabs .nav-item .nav-link.active {
    color: #080707;
    background-color: transparent;
    border-color: transparent;
}
.deliciousFoods_menuTab .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
}
.deliciousFoods_menuTab .nav-tabs {
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    display: flex;
    justify-content: center;
    width: 57%;
}
.deliciousFoods_menuTab .nav-tabs .nav-link ul {
    padding: 0;
}
.deliciousFoods_menuTab .nav-tabs .nav-link ul li {
    padding-left: 10px;
    font-size: 10px;
    color: #3f3d3ddb;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: all .2s ease-in;
}
.deliciousFoods_menuTab .nav-tabs .nav-link ul li:hover{
    color: #b70000;
}
.deliciousFoods_menuTab .nav-tabs .nav-link ul li::marker {
    font-size: 10px;
    color: #c02626;
}

/*-- deliciousFoods_menuTab end --*/

/*-- deliciousFoods_menuInformation start --*/

.deliciousFoods_menuInformation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.foodsMenu_detailInfoBox .foodsMenu_imageAndName {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.deliciousFoods_MenuDetails .foodsMenu_detailInfoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 20px;
}
.foodsMenu_imageAndName .menuImageBox img {
    height: 70px;
    width: 70px;
    padding: 10px 10px;
    background: white;
    border-radius: 50%;
}
.foodsMenu_imageAndName .menuContent p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    line-height: 8px;
    font-weight: 700;
    margin: 0;
}
.foodsMenu_imageAndName .menuContent span {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #585555;
    margin: 0;
    letter-spacing: 0.3px;
}
.foodsMenu_detailInfoBox .foodPrice p {
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #b90808;
    margin: 0;
    margin-bottom: 20px !important;
    font-weight: 500;
}
.deliciousFoods_MenuDetails .foodsMenu_detailInfoBox:nth-child(1) .priceLine .priceInline{
    width: 180px;
    border-bottom: 0.5px solid rgb(4 4 4 / 19%);
    margin-left: -60px;
    margin-bottom: 35px;
}
.deliciousFoods_MenuDetails .foodsMenu_detailInfoBox:nth-child(2) .priceLine .priceInline{
    width: 165px;
    border-bottom: 0.5px solid rgb(4 4 4 / 19%);
    margin-left: -45px;
    margin-bottom: 35px
}
.deliciousFoods_MenuDetails .foodsMenu_detailInfoBox:nth-child(3) .priceLine .priceInline{
    width: 203px;
    border-bottom: 0.5px solid rgb(4 4 4 / 19%);
    margin-left: -83px;
    margin-bottom: 35px;
}
.deliciousFoods_MenuDetails .foodsMenu_detailInfoBox:nth-child(4) .priceLine .priceInline{
    width: 150px;
    border-bottom: 0.5px solid rgb(4 4 4 / 19%);
    margin-left: -30px;
    margin-bottom: 35px;
}

/*-- deliciousFoods_menuInformation end --*/

/*-- delicious_foodsMenuArea end --*/

.foodsMenuAnd_itemsSection .deliciousButton {
    margin-top: 60px;
    text-align: center;
}
.foodsMenuAnd_itemsSection .deliciousButton a {
    font-size: 10px;
    background: #ab1616;
    color: #ffffff;
    letter-spacing: 0.4px;
    padding: 7px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif;
    display: inline-flex;
    align-items: center;
}
.foodsMenuAnd_itemsSection .deliciousButton a i {
    padding-right: 5px;
    font-size: 11px;
}

/*-- foodsMenuAnd_itemsSection end --*/


/*-- foodsOrder_infoSection start --*/

.foodsOrder_infoSection {
    position: relative;
    background: #efdfc6ed;
    overflow: hidden;
}
.foodsOrder_infoSection .foodsOrder_infoImageAndContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foodsOrder_infoImageAndContent .foodsOrder_infoContent p {
    font-size: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
    font-weight: 700;
    padding: 4px 8px;
    background: #ff8f0adb;
    letter-spacing: 0.2px;
    width: 120px;
    margin: 0;
    position: relative;
}
.foodsOrder_infoImageAndContent .foodsOrder_infoContent p:before {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background: #efdfc6;
    transform: translateX(90px) rotate(45deg);
    top: 2px;
    left: 20px;
}
.foodsOrder_infoImageAndContent .foodsOrder_infoContent h3 {
    margin: 8px 0 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}
.foodsOrder_infoContent .orderButton .Apps_buttonone {
    font-size: 10px;
    background: #a20909;
    color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 7px 18px;
    border-radius: 20px;
    margin-top: 20px;
}
.foodsOrder_infoContent .orderButton .Apps_buttonone i {
    font-size: 15px;
    padding-right: 5px;
}
.foodsOrder_infoContent .orderButton .Apps_buttontwo {
    font-size: 10px;
    background: #f6f6f6;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 7px 18px;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
}
.foodsOrder_infoContent .orderButton .Apps_buttontwo i {
    font-size: 13px;
    padding-right: 5px;
}
.foodsOrder_infoImageAndContent .foodsOrder_imageBox img {
    height: 300px;
    object-fit: cover;
    width: 550px;
}

/*-- foodsOrder_infoSection end --*/


/*-- foodsFeature_wrpSection start --*/

.foodsFeature_wrpSection {
    background: #EEE6DA;
    padding: 100px 0;
}

/*-- foodsFeature_rowArea start--*/

.foodsFeature_wrpSection .foodsFeature_rowArea {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 80px;
}
.foodsFeature_wrpSection .featureImageBox img {
    width: 100%;
    object-fit: cover;
}
.featureInfoContentBox .foodsInfoContent .qualityStarIcon i {
    color: #ffb302;
    font-size: 12px;
    padding-bottom: 10px;
}
.featureInfoContentBox .foodsInfoContent .contentBox p {
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}
.foodsFeature_rowArea .featureInfoContainer {
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 70px;
}
.foodsFeature_rowArea .featureInfoContainer .slick-next {
    right: 85%;
    top: 100%;
    transform: translateY(50%);
    padding: 13px 13px;
    background: #b60000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.foodsFeature_rowArea .featureInfoContainer .slick-prev {
    left: 0%;
    top: 100%;
    transform: translateY(50%);
    padding: 13px 13px;
    background: #000000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.foodsFeature_rowArea .featureInfoContainer .slick-prev:before {
    font-family: 'FontAwesome';
    font-size: 10px;
}
.foodsFeature_rowArea .featureInfoContainer .slick-next:before {
    font-family: 'FontAwesome';
    font-size: 10px;
}

/*-- foodsFeature_rowArea end--*/

.bannerColsArea {
    padding: 10px;
}
.foodsFeature_wrpSection .firstBanner_wrapperBox {
    background-image: url(../images/bannar1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox {
    padding: 15px 25px;
    padding-bottom: 60px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox p {
    margin: 0;
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 5px 10px;
    background: #ffc722;
    display: inline;
    line-height: 35px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    line-height: 23px;
    margin-bottom: 10px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox .shop_ButtonOne {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 0;
    text-decoration: none;
}
.firstBanner_wrapperBox .firstBanner_ContentBox .shop_ButtonOne:before {
    content: '';
    position: absolute;
    left: 2px;
    width: 70px;
    height: 1px;
    background: white;
    bottom: -1px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox .cartIconStyle {
    font-size: 12px;
    padding-right: 5px;
}
.firstBanner_wrapperBox .firstBanner_ContentBox .arrowIconStyle {
    font-size: 12px;
    padding-left: 2px;
}

.footerBannerWrp .firstFooterBannerArea {
    background-image: url(../images/bannar2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
}
.foodsFeature_wrpSection .bannerColsArea .footerBannerWrp {
    display: flex;
    width: 100%;
    gap: 20px;
}
.footerBannerWrp .firstFooterBannerArea .firstFooterBannerContent h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin: 0;
    font-style: italic;
    margin-bottom: 10px;
}
.firstFooterBannerArea .firstFooterBannerContent .shop_ButtonOne {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 0;
    text-decoration: none;
}
.firstFooterBannerArea .firstFooterBannerContent .shop_ButtonOne:before {
    content: '';
    position: absolute;
    left: 2px;
    width: 70px;
    height: 1px;
    background: white;
    bottom: -1px;
}
.firstFooterBannerArea .firstFooterBannerContent .cartIconStyle {
    font-size: 12px;
    padding-right: 5px;
}
.firstFooterBannerArea .firstFooterBannerContent .arrowIconStyle {
    font-size: 12px;
    padding-left: 2px;
}
.firstFooterBannerArea .firstFooterBannerContent {
    padding: 30px 25px;
    padding-bottom: 60px;
}
.footerBannerWrp .secondFooterBannerArea {
    background-image: url(../images/bannar3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 50%;
    margin-top: 20px;
}
.footerBannerWrp .secondFooterBannerArea .secondFooterBannerContent h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin: 0;
    font-style: italic;
    margin-bottom: 10px;
}
.secondFooterBannerArea .secondFooterBannerContent .shop_ButtonOne {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    position: relative;
    padding: 0;
    text-decoration: none;
}
.secondFooterBannerArea .secondFooterBannerContent .shop_ButtonOne:before {
    content: '';
    position: absolute;
    left: 2px;
    width: 70px;
    height: 1px;
    background: black;
    bottom: -1px;
}
.secondFooterBannerArea .secondFooterBannerContent .cartIconStyle {
    font-size: 12px;
    padding-right: 5px;
}
.secondFooterBannerArea .secondFooterBannerContent .arrowIconStyle {
    font-size: 12px;
    padding-left: 2px;
}
.secondFooterBannerArea .secondFooterBannerContent {
    padding: 30px 25px;
    padding-bottom: 60px;
}



.foodsFeature_wrpSection .secondBanner_wrapperBox {
    background-image: url(../images/bannar4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-height: 100%;
}
.secondBanner_wrapperBox .secondBanner_contentBox {
    padding: 15px 25px;
}
.secondBanner_wrapperBox .secondBanner_contentBox p {
    margin: 0;
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 5px 10px;
    background: #ffc722;
    display: inline;
    line-height: 35px;
}
.secondBanner_wrapperBox .secondBanner_contentBox h5 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 23px;
    color: #fafafa;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    text-shadow: 0 1px #00000017;
    margin-bottom: 30px;
}
.secondBanner_contentBox .shop_ButtonOne {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    position: relative;
    padding: 0;
    text-decoration: none;
}
.secondBanner_contentBox .shop_ButtonOne:before {
    content: '';
    position: absolute;
    left: 2px;
    width: 70px;
    height: 1px;
    background: white;
    bottom: -1px;
}
.secondBanner_wrapperBox .secondBanner_contentBox .cartIconStyle {
    font-size: 12px;
    padding-right: 5px;
}
.secondBanner_wrapperBox .secondBanner_contentBox .arrowIconStyle {
    font-size: 12px;
    padding-left: 2px;
}

/*-- foodsFeature_wrpSection end --*/


/*-- SpecialChef_SectionArea end --*/

.SpecialChef_SectionArea {
    background: #f6dfbb;
    padding: 50px 0;
}
.SpecialChef_SectionArea .chefInformationArea {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.SpecialChef_SectionArea .chefHeaderTittle h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin: 0 0 35px 0;
    text-align: center;
}
.chefCardWrapper .chefImageBox {
    position: relative;
    overflow: hidden;
}
.chefCardWrapper .chefImageBox img {
    width: 195px;
    height: 190px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.chefInformationArea .chefCardWrapper {
    background: white;
}
.chefCardWrapper .chefInfoContent h6 {
    margin: 0;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}
.chefCardWrapper .chefInfoContent p {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #646464;
    font-weight: 500;
    margin: 0;
}
.chefCardWrapper .chefInfoContent {
    text-align: center;
    padding: 17px 0;
}
.chefInformationArea .chefCardWrapper {
    background: white;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.chefCardWrapper .chefImageBox .chefSocialLink ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chefCardWrapper .chefImageBox .chefSocialLink ul li a {
    width: 25px;
    height: 25px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: white;
    border-radius: 50%;
    margin-top: 5px;
    color: #a1a1a1;
}
.chefCardWrapper .chefImageBox .chefSocialLink ul li a:hover {
    color: #9c0404;
}
.chefCardWrapper .chefImageBox .chefSocialLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    transition: all .2s ease-in-out;
    transform: translateX(25px);
    padding: 10px 15px;
    opacity: 0;
}
.chefCardWrapper .chefImageBox .chefSocialLink:hover {
    opacity: 1;
    transform: translateX(0);
}
.SpecialChef_SectionArea .chefButton {
    text-align: center;
    margin-top: 50px;
}
.SpecialChef_SectionArea .chefButton a {
    font-size: 10px;
    background: #b20505;
    color: white;
    padding: 7px 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0.3px;
    border-radius: 20px;
    font-weight: 500;
}
.SpecialChef_SectionArea .chefButton a i {
    padding-right: 5px;
}

/*-- SpecialChef_SectionArea end --*/


/*-- newsAndArticle_sectionArea end --*/

.newsAndArticle_sectionArea {
    padding: 80px 0;
    background: #F4ECDF;
    padding-bottom: 180px;
}
.newsAndArticle_sectionArea .newsAndArticle_Header h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: black;
    margin: 0 0 40px 0;
    text-align: center;
}
.newsAndArticle_cardWrapper .newsImageBox img {
    width: 100%;
    height: 195px;
    border-radius: 8px 8px 0 0;
}
.newsAndArticle_sectionArea .newsAndArticle_cardWrapper {
    background: white;
    box-shadow: 0 20px 23px rgb(0,0,0,0.1);
    border-radius: 8px;
}
.newsAndArticle_container .dateContent p {
    font-size: 9px;
    padding: 2px 10px;
    background: #a30000;
    color: #fff3f3;
    font-weight: 500;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    display: inline-flex;
    letter-spacing: 0.4px;
    margin: 0;
}
.newsAndArticle_container .dateContent span {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #736e6e;
    font-weight: 500;
    padding-left: 5px;
}
.newsAndArticle_container .dateContent span i {
    font-size: 12px;
    padding-right: 4px;
}
.newsAndArticle_container .newsContent p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 13px;
    text-shadow: 0 0.3px;
    margin: 15px 0 15px 0;
    font-weight: 700;
    color: #000000ad;
}
.newsAndArticle_container .newsContent a {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.newsAndArticle_container .newsContent a:before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: -2px;
    width: 72px;
    height: 1px;
    background: black;
}
.newsAndArticle_container .newsContent a:hover{
    color: #d90000;
}
.newsAndArticle_container .newsContent a:hover:before{
    background: #d90000;
}
.newsAndArticle_cardWrapper .newsAndArticle_container {
    padding: 24px 20px;
    padding-bottom: 35px;
}

/*-- newsAndArticle_sectionArea end --*/


/*-- contactInfoSection start --*/

.contactInfoSection .contactDetailWrp {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -100px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 20px 20px #0c0c0c21;
}
.contactDetailWrp .contactDetailContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
    position: relative;
}
.contactDetailWrp .contactDetailContainer:before {
    position: absolute;
    top: 35px;
    left: 260px;
    width: 1px;
    height: 40px;
    background: #c9c9c9;
    content: '';
}
.contactDetailWrp :last-child.contactDetailContainer::before{
    width: 0;
    height: 0;
    background: transparent;
}
.contactDetailWrp .contactDetailContainer .icon i {
    background: #ffe7eb;
    color: #a70404e0;
    padding: 15px;
    border-radius: 50%;
}
.contactDetailContainer .contactNumber h6 {
    font-size: 10px;
    color: #7d7676;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    margin: 0;
    font-weight: 500;
}
.contactDetailContainer .contactNumber p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #343232;
    letter-spacing: 0.5px;
    font-size: 11px;
    font-weight: 700;
    margin: 0;
}

/*-- contactInfoSection end --*/


/*-- footerSectionStart start --*/

.footerSectionStart {
    background: #ECD8B8;
    width: 100%;
    margin-top: -152px;
    padding-top: 130px;
}
.footerSectionStart .footerFullContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    padding-bottom: 0;
    grid-gap: 60px;
}
.footerSectionStart .footerFullContainer .aboutContent img {
    width: 80px;
    max-width: fit-content;
    margin-bottom: 20px;
}
.footerSectionStart .footerFullContainer .aboutContent p {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    line-height: 17px;
    margin: 0;
}
.footerSectionStart .footerFullContainer .aboutContent ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    column-gap: 10px;
    margin-top: 20px;
}
.footerSectionStart .footerFullContainer .aboutContent ul li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.footerSectionStart .footerFullContainer .aboutContent ul li:nth-child(1) a{
    background: #3B5998;
}
.footerSectionStart .footerFullContainer .aboutContent ul li:nth-child(2) a{
    background: #55acee;
}
.footerSectionStart .footerFullContainer .aboutContent ul li:nth-child(3) a{
    background: #3f729b;
}
.footerSectionStart .footerFullContainer .aboutContent ul li:nth-child(4) a{
    background: #cd201f;
}
.footerSectionStart .footerFullContainer .servicesContainer p {
    font-size: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 13px;
}
.footerSectionStart .footerFullContainer .servicesContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footerSectionStart .footerFullContainer .servicesContainer ul li a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color: #494040d1;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    transition: all .2s ease-in;
}
.footerSectionStart .footerFullContainer .servicesContainer ul li a:hover{
    color: #b20505;
}
.footerSectionStart .footerFullContainer .recentPostContainer p {
    font-size: 13px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 13px;
}
.footerFullContainer .recentPostContainer .recentPost_imageAndContent {
    display: grid;
    grid-template-columns: 75px 1fr;
    margin-top: 22px;
    align-items: center;
}
.recentPostContainer .recentPost_imageAndContent .postImageBox img {
    width: 60px;
    height: 55px;
    border-radius: 3px;
}
.recentPostContainer .recentPost_imageAndContent .postContent h6 {
    font-size: 9px;
    font-weight: 700;
    color: #453838d1;
    font-family: 'Roboto', sans-serif;
    margin: 5px 0 5px 0;
}
.recentPostContainer .recentPost_imageAndContent .postContent h6 i {
    font-size: 10px;
    padding-right: 5px;
}
.recentPostContainer .recentPost_imageAndContent .postContent p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    font-weight: 700;
    margin: 0;
}
.footerSectionStart .copyRightArea {
    position: relative;
    margin-top: 40px;
}
.footerSectionStart .copyRightArea::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #9d9d9d6b;
    left: 0;
    bottom: 50px;
}
.footerSectionStart .copyRightArea img{
    width: 70px;
    object-fit: cover;
    margin-left: 86%;
}
.footerSectionStart .copyRightArea p {
    font-size: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0.3px;
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-bottom: 18px;
}

/*-- footerSectionStart end --*/