/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .reviewTop_MenuArea .navbar {
        padding: 0 20px;
    }
    .reviewTop_MenuArea .navbar .navBar_menuItems {
        display: unset;
        justify-content: unset;
    }
    .reviewTop_MenuArea .navbar .navBar_menuItems .topMenu_Button {
        font-size: 10px;
        padding: 5px 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .reviewTop_MenuArea .topMenu_bodyContent {
        padding-left: unset;
    }
    .reviewTop_MenuArea .topMenu_bodyContent .firstText p {
        margin-top: 10px;
    }
    .reviewTop_MenuArea .topMenu_bodyContent .secondText h1 {
        font-size: 30px;
    }
    .reviewTop_MenuArea .topMenu_bodyImagebox {
        padding: unset;
    }
    .reviewTop_MenuArea .topMenu_bodyImagebox img {
        width: 100%;
    }

  }